.sidebarbase
{
    width: 250px;
    height: 100vh;
    background-color: rgb(229, 203, 155);
    position: fixed;
}
.sidebarlist
{
    padding: 10px 0px;
    color: black;
    padding-left: 20px;
}
.sidebarlistitems
{
    margin: 10px 0px;
    padding-left: 15px;
    border-top-left-radius: 20px;
}
.sidebarlistitems:hover
{
    background-color: orange;
    transition-duration: .5s;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}
.logo
{
    background-color: orange;
    text-align: center;
    font-size: 50px;
    color: white;
}